        <section >
            <div class="text-center" style="padding: 10px 20px;background-color: #e3f2fd;">
                All Rights are Reserved to NTI 
            </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>