{{!-- <nav class="navbar navbar-expand-lg bg-dark custom-nav p-3">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                     <img src="images/logo.png" class="img-fluid">
                </div>
                <div class="col-md-4">
                    <a href="/showAll" class="text-white">all Users</a>
                    <a href="/" class="text-white">add user</a>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </nav> --}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="col-md-1"></a>
  <a class="navbar-brand col-md-2" href="/"><img src="images/logo.png" class="img-fluid"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav" >
    <ul class="navbar-nav offset-md-6" style="margin-left: auto !important; padding-right:200px;">
      <li class="nav-item">
        <a class="nav-link" href="/showAll" style="color: white;">All Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/" style="color: white;">Add User</a>
      </li>
      
    </ul>
  </div>
</nav>

