{{>header}}
{{>nav}}
<section>
    <h3 class="text-center" style="margin-top: 30px; margin-bottom:0px">
        Welcome to our Customer List <span style="font-weight:bold; color:blue">{{name}}</span> 
    </h3>
    <img src="/imgs/logo.png" style="text-align: center; " class="text-center mx-auto d-block">
    <div style="margin: auto; text-align:center; margin-bottom:30px">
        <a href="/allCus" class="btn btn-primary">to All Customers</a>
    </div>
    
</section>
{{>footer}}